<h1><%= markdown @post.title %></h1>

<div class="row">
  <div class="span8">
    <%= render partial: 'votes/voter', locals: { topic: @topic, post: @post } %>
    <small>
      <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
      submitted <%= time_ago_in_words(@post.created_at) %> ago by 
      <%= @post.user.name %>
    </small>    
    <p><%= markdown @post.body %></p>
  </div>
     <div class="span4">
    <% if can? :edit, @post %>
      <%= link_to "Edit", edit_topic_post_path(@topic,@post), class: 'btn btn-large btn-block' %>
    <% end %>
    <% if can? :destroy, @post %>
      <%= link_to "Delete Post", [@topic, @post], method: :delete, class: 'btn btn-large btn-block btn-danger', confirm: 'Are you sure you want to delete this post?' %>
    <% end %>

    <div>
      <h3><%= pluralize(@post.points, 'point') %></h3>
      <small>
        <%= pluralize(@post.up_votes, 'up vote') %>, 
        <%= pluralize(@post.down_votes, 'down vote') %>
      </small>
    </div> 
  </div>
</div>

<div>
  <h2>
       <%= render partial: 'comments', locals: { comments: @comments} %>
  </h2>

    <%= render partial: 'comments/form', locals: { comment: @comment} %>
</div>


    <% if can? :destroy, @post %>
      <%= link_to "Delete Post", [@topic, @post], method: :delete, class: 'btn btn-large btn-block btn-danger', confirm: 'Are you sure you want to delete this post?' %>
    <% end %>

    <div>
      <h3><%= pluralize(@post.points, 'point') %></h3>
      <small>
        <%= pluralize(@post.up_votes, 'up vote') %>, 
        <%= pluralize(@post.down_votes, 'down vote') %>
      </small>
    </div>